
@model Lancer.Models.FreeLancerViewModel
@{
    ViewData["Title"] = "Freelancer";
    Layout = "_Layout";
}

    <div class="top-container">
        <div class="fluid-container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Create Freelancer</h1>
                    <p class="lead">Pro Freelancer</p>
                </div>
            </div>
        </div>

    </div>


<section id="body">
    <div class="fluid-container">
        <fieldset>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <p>
                    @Html.LabelFor(x => x.FirstName)
                    @Html.EditorFor(x => x.FirstName)
                    @Html.ValidationMessageFor(x=> x.FirstName)
                </p>
                <p>
                    @Html.LabelFor(x => x.LastName)
                    @Html.EditorFor(x => x.LastName)
                    @Html.ValidationMessageFor(x=> x.LastName)
                </p>
                <p>
                    @Html.LabelFor(x => x.Email)
                    @Html.EditorFor(x => x.Email)
                    @Html.ValidationMessageFor(x=> x.Email)
                </p>
                <p>
                    @Html.LabelFor(x => x.Phone)
                    @Html.EditorFor(x => x.Phone)
                    @Html.ValidationMessageFor(x=> x.Phone)
                </p>
                <p>
                    @Html.LabelFor(x => x.Address)
                    @Html.EditorFor(x => x.Address)
                    @Html.ValidationMessageFor(x=> x.Address)
                </p>
                <p>
                    @Html.LabelFor(x => x.City)
                    @Html.EditorFor(x => x.City)
                    @Html.ValidationMessageFor(x=> x.City)
                </p>
                <p>
                    @Html.LabelFor(x => x.State)
                    @Html.EditorFor(x => x.State)
                    @Html.ValidationMessageFor(x=> x.State)
                </p>
                  <p>
                    @Html.LabelFor(x => x.ZipCode)
                    @Html.EditorFor(x => x.ZipCode)
                    @Html.ValidationMessageFor(x=> x.ZipCode)
                </p>
      
                <button type="submit">Create Lancer</button>
            }

        </fieldset>
    </div>
</section>
<hr>