@model Lancer.Models.ContactViewModel
@RenderSection("Scripts", required: false)
<fieldset>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(x => x.firstName)
            @Html.EditorFor(x => x.firstName)
        </p>
        <p>
            @Html.LabelFor(x => x.lastName)
            @Html.EditorFor(x => x.lastName)
        </p>
        <p>
            @Html.LabelFor(x => x.email)
            @Html.EditorFor(x => x.email)
        </p>
        <p>
            @Html.LabelFor(x => x.message)
            @Html.EditorFor(x => x.message)
        </p>
    }
    <button type="submit"> Submit</button>
</fieldset>